body {
	background:#FFD332;
    padding: 5%;
}
header h1{
    color:white;
    font-size: 60px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;
}
header h2,h3{
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;
}
#container{
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
#container2{
    padding: 10px;
    text-align: center;
    font-size: 30px;    
}