body {
	background:#FFD332;
    padding: 5%;
}
header h2{
    color:white;
    font-size: 30px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;

}
#caja1{
    padding: 10px;
    text-align: center;
}
#caja2{
    padding: 10px;
    text-align: center;
}
#caja3{
    padding: 10px;
    text-align: center;
}
#caja4{
    padding: 10px;
    text-align: center;
}
#caja5{
    padding: 10px;
    text-align: center;
}
